repos:
  - hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push
    repo: https://github.com/commitizen-tools/commitizen
    rev: cc981fcb065527b6de0033b0cbf0432e69781901  # frozen: v4.9.1

  # - hooks:
  #     - id: uv-lock
  #   repo: https://github.com/astral-sh/uv-pre-commit
  #   rev: 9eb8a5492241b44a52c8a0c9612cd46cbc69fb01  # frozen: 0.8.4

  - hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML
          - types-paramiko
    repo: https://github.com/pre-commit/mirrors-mypy
    rev: 9f70dc58c23dfcca1b97af99eaeee3140a807c7e  # frozen: v1.18.2

  - hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: aad66557af3b56ba6d4d69cd1b6cba87cef50cbb  # frozen: v0.14.3

  - hooks:
      - id: mdformat
        exclude: "^(.github/|LICENSE.md)"
        additional_dependencies:
          - mdformat-ruff
          - ruff
    repo: https://github.com/executablebooks/mdformat
    rev: 2d496dbc18e31b83a1596685347ffe0b6041daf0  # frozen: 1.0.0

  # - hooks:
  #   - id: shellcheck
  #   repo: https://github.com/shellcheck-py/shellcheck-py
  #   rev: a23f6b85d0fdd5bb9d564e2579e678033debbdff  # frozen: v0.10.0.1

  - hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
