name: Tests
on:
  pull_request:
    paths-ignore:
      - docs/**
      - README.md
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
      - README.md
jobs:
  tests:
    name: ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { python: "3.14" }
          - { python: "3.13" }
          - { python: "3.12" }
          - { python: "3.11" }
          - { python: "3.10" }
          - { python: "3.9" }
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}
      - run: pip install tox
      - run: tox -e ${{ format('py{0}', matrix.python) }}
